.Header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.Header a{
    text-decoration: none;
    font-size: 30px;
    color: snow;
    padding: 25px;
}

.Header a[class='active']{
    color: red;
}